  <div class="site-wrapper">
    
      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <!--<h3 class="masthead-brand">Cover</h3>-->
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="/twitter">
					Twitter
				</a>
				<a class="nav-link" href="/github">
					Github
				</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Twitter</h1>

            <a class="twitter-timeline" [attr.data-height]="height" data-dnt="true" data-theme="dark" href="https://twitter.com/HazardDevs">Tweets by HazardDevs</a>

          </div>

          <div class="mastfoot">
            <div class="inner">
              <a href="https://twitter.com/HazardDevs" class="twitter-follow-button" data-size="large" data-dnt="true" data-show-count="false">Follow @HazardDevs</a>
            </div>
          </div>

        </div>

      </div>

    </div>